@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background: #161616
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "Formula-Regular";
  src: url('../public/fonts/Formula1/Formula1-Regular_web_0.ttf');
}

@font-face {
  font-family: "Formula-Bold";
  src: url('../public/fonts/Formula1/Formula1-Bold_web_0.ttf');
}

@font-face {
  font-family: "Formula-Wide";
  src: url('../public/fonts/Formula1/Formula1-Wide_web_0.ttf');
}

@layer components {
  .smoothed {
    @apply
    transition-all ease-in-out duration-500
  }

  .card {
    @apply
    flex flex-col items-center justify-between w-full h-[460px] border-t-8 border-r-8 border-[#D81919] rounded-tr-3xl rounded-bl-3xl p-5
    text-white overflow-hidden md:h-[660px] z-10
  }

  .card-h1 {
    @apply
    text-white font-formulaWide text-xl
  }
  .card-h2 {
    @apply
    text-white font-formulaRegular md:w-1/3 text-lg
  }

  .button {
    @apply
    font-formulaRegular min-w-fit w-28 h-10 md:w-36 md:h-14 md:text-2xl rounded-xl hover:scale-105 bg-[#1E1E1E] text-white text-lg px-5 text-center transition-all duration-500 overflow-hidden flex items-center justify-center drop-shadow-lg
  }
}